# ignore PyCharm IDE Files
.idea/

# ignore py cache
__pycache__

# ignore virtual environment
venv/

# ignore numPy files
*.npy

# ignore ODS lock files
*.~lock.*

# ignore tex files
*.log
*.synctex.gz
*.aux
*.out
*.bak
*.bbl
*.blg
*.dvi